<div  class="container content">
  <section id="tabs" class="project-tab">
   
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Pedidos Novos</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Em andamento</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Entrega</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <table cellspacing="0" class="table table-responsive col-centered shopping-cart-wrap">
                        <thead class="text-muted">
                          <tr>
                            <th scope="col" >Status</th>
                            <th scope="col" >Produto</th>
                            <th scope="col" >Informações</th>
                            <th scope="col">Pagamento</th>
                            <th scope="col" >Ações</th>
                          </tr>
                        </thead>
                        
                        <tbody>
                          
                          <tr  *ngFor="let pedido of pedidosNovos$ | async" >
                            <td >
                              <div *ngIf="pedido.aprovado" class="badge badge-success text-wrap"
                                style=" padding: 5px; width: auto; margin-right: 8px; margin-top:8px;">
                                <span style="font-size: 1.5em;" class="text-uppercased">Aprovado</span>
                              </div>
                              <div *ngIf="!pedido.aprovado" class="badge badge-warning text-wrap"
                                style=" padding: 5px; width: auto; margin-right: 8px; margin-top:8px;">
                                <span style="font-size: 1.5em;" class="text-uppercased">Aguardando</span>
                              </div>
                            </td>
                            <td>
                              <figure class="media">
                  
                                <figcaption class="media-body">
                                  <h6 class="title text-truncate">{{pedido.nome}}</h6>
                                  
                                  <dl class="param param-inline small">
                  
                                  </dl>
                                  <dl class="title">
                                    <dt>Observações: </dt>
                                    <dd>1 Power Bull Sem cebola</dd>
                                    <dd>1 Power Bull Sem tomate</dd>
                                  </dl>
                                </figcaption>
                              </figure>
                            </td>
                            <td>
                              <dt>Guilhermy William Macedo de Andrade </dt>
                              <dt>12/12/2019 22:29:39</dt>
                              <dd>Av. Bruxelas, QD 37 LT 530 Vila Brasilia</dd>
                            </td>
                            <td>
                              <dt>Valor total</dt>
                              <div class="badge badge-primary text-wrap price-wrap"
                              style=" padding: 5px; width: auto; margin-right: 8px; margin-bottom:8px;">
                                <span style="color: #fff;
                                font-size: 18px;
                                font-weight: bold;
                                margin-right: 5px;
                                display: block;">R${{pedido.preco.toFixed(2).replace(".",",")}}</span>
                  
                              </div> 
                              <dt>Pagamento</dt>
                              <small class="text-muted">Cartão de crédito Visa</small>
                  
                              
                            
                            <td>
                              <button type="button" style="margin-top:5px; margin-right:5px;"  class="btn btn-success"> Aceitar </button>
                              <button type="button" style="margin-top:5px; " class="btn btn-outline-danger">Recusar</button>
                            </td>
                          </tr>
                  
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                       
                          <table cellspacing="0" class="table table-responsive col-centered shopping-cart-wrap">
                            <thead class="text-muted">
                              <tr>
                                <th scope="col">Status</th>
                                <th scope="col">Produto</th>
                                <th scope="col" >Informações</th>
                                <th scope="col" >Pagamento</th>
                                <th scope="col">Ações</th>
                              </tr>
                            </thead>
                            
                            <tbody class="tbody">
                              
                              <tr  *ngFor="let pedido of pedidosAndamento$ | async" >
                                <td >
                                  <div *ngIf="pedido.aprovado" class="badge badge-info text-wrap"
                                    style=" padding: 5px; width: auto; margin-right: 8px; margin-top:8px;">
                                    <span style="font-size: 1.5em;" class="text-uppercased">Em produção</span>
                                  </div>
                                  <div *ngIf="!pedido.aprovado" class="badge badge-danger text-wrap"
                                    style=" padding: 5px; width: auto; margin-right: 8px; margin-top:8px;">
                                    <span style="font-size: 1.5em;" class="text-uppercased">Cancelado</span>
                                  </div>
                                </td>
                                <td>
                                  <figure class="media">
                      
                                    <figcaption class="media-body">
                                      <h6 class="title text-truncate">{{pedido.nome}}</h6>
                                      
                                      <dl class="param param-inline small">
                      
                                      </dl>
                                      <dl class="title">
                                        <dt>Observações: </dt>
                                        <dd>1 Power Bull Sem cebola</dd>
                                        <dd>1 Power Bull Sem tomate</dd>
                                      </dl>
                                    </figcaption>
                                  </figure>
                                </td>
                                <td>
                                  <dt>Guilhermy William Macedo de Andrade </dt>
                                  <dt>12/12/2019 22:29:39</dt>
                                  <dd>Av. Bruxelas, QD 37 LT 530 Vila Brasilia</dd>
                                </td>
                                <td>
                                  <dt>Valor total</dt>
                              <div class="badge badge-primary text-wrap price-wrap"
                              style=" padding: 5px; width: auto; margin-right: 8px; margin-bottom:8px;">
                                <span style="color: #fff;
                                font-size: 18px;
                                font-weight: bold;
                                margin-right: 5px;
                                display: block;">R${{pedido.preco.toFixed(2).replace(".",",")}}</span>
                  
                              </div> 
                              <dt>Pagamento</dt>
                              <small class="text-muted">Cartão de crédito Visa</small>
                  
                            
                                </td>
                                
                                <td>
                                  <button style="margin-top:5px; margin-right:5px;"   type="button" class="btn btn-outline-danger">Cancelar</button>
                                  <button style="margin-top:5px; " type="button" class="btn btn-success">Pronto</button>
                                </td>
                              </tr>
                      
                            </tbody>
                          </table>
                    
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <table class="table" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Contest Name</th>
                                    <th>Date</th>
                                    <th>Award Position</th>
                                    <th>Award Position</th>
                                    <th>Award Position</th>
                                    <th>Award Position</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#">Work 1</a></td>
                                    <td>Doe</td>
                                    <td>john@example.com</td>
                                </tr>
                                <tr>
                                    <td><a href="#">Work 2</a></td>
                                    <td>Moe</td>
                                    <td>mary@example.com</td>
                                </tr>
                                <tr>
                                    <td><a href="#">Work 3</a></td>
                                    <td>Dooley</td>
                                    <td>july@example.com</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

</section>
  <!--<div  class="card">
    <table class="table table-hover table-responsive col-centered shopping-cart-wrap">
      <thead class="text-muted">
        <tr>
          <th scope="col" width="120">Status</th>
          <th scope="col" width="140">Produto</th>
          <th scope="col" width="120">Informações</th>
          <th scope="col" width="120">Valor</th>
          <th scope="col" width="120">Pagamento</th>
          <th scope="col" width="200" class="text-right">Ações</th>
        </tr>
      </thead>
      
      <tbody>
        
        <tr  *ngFor="let pedido of pedidos$ | async" >
          <td >
            <div *ngIf="pedido.status" class="badge badge-success text-wrap"
              style=" padding: 5px; width: auto; margin-right: 8px; margin-top:8px;">
              <span style="font-size: 1.8em;" class="text-uppercased">Aprovado</span>
            </div>
            <div *ngIf="!pedido.status" class="badge badge-danger text-wrap"
              style=" padding: 5px; width: auto; margin-right: 8px; margin-top:8px;">
              <span style="font-size: 1.8em;" class="text-uppercased">Cancelado</span>
            </div>
          </td>
          <td>
            <figure class="media">

              <figcaption class="media-body">
                <h6 class="title text-truncate">{{pedido.nome}}</h6>
                
                <dl class="param param-inline small">

                </dl>
                <dl class="title">
                  <dt>Observações: </dt>
                  <dd>1 Power Bull Sem cebola</dd>
                  <dd>1 Power Bull Sem tomate</dd>
                </dl>
              </figcaption>
            </figure>
          </td>
          <td>
            <dt>Guilhermy William Macedo de Andrade </dt>
            <dt>12/12/2019 22:29:39</dt>
            <dd>Av. Bruxelas, QD 37 LT 530 Vila Brasilia</dd>
          </td>
          <td>
            <div class="price-wrap">
              <var class="price">R${{pedido.preco.toFixed(2).replace(".",",")}}</var>

            </div> 
          </td>
          <td>
            <div class="price-wrap">

              <small class="text-muted">Pagamento com Cartão de crédito</small>
            </div> 
          </td>
          <td class="text-right">
            <a style="margin-right:5px;" title="" href="" class="btn btn-success" data-toggle="tooltip"
              data-original-title="Save to Wishlist"> Aprovar </a>
            <a href="" class="btn btn-outline-danger">Cancelar</a>
          </td>
        </tr>

      </tbody>
    </table>
  </div>  card.// -->

</div>