<div id="body" class="bg">
<style background-color: #1C2833 ;> </style>

    
    <div  id="body" class="container  text-center align-center">

        <div  style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);background-color: #1C2833;">
            <img class="mb-4" src="../../../../assets/img/Splash.png" alt="" width="50%" height="50%">
            <div id="campos" >
               
                <h1 class="h4 mb-3 font-weight-normal"> Meu Pedido Service</h1>
                <div  class="form-group  d-flex justify-content-center col-lg-12  ">
                    <input type="text" class="form-control" id="email_field" placeholder="Email">
                </div>
                <div  class="d-flex align-items-center form-group  col-sm-12 col-lg-12">
                    <input type="password" class="form-control" id="password_field" placeholder="Senha">
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Me Lembrar
                    </label>


                </div>

            </div>

            <button style="width: 55%;" class="btn btn-lg btn-success " type="submit" onclick="login()">Acessar</button>
          <div style="margin-top: 1%;">
              <a href="./AlunoRecuperaSenha.html">Esqueci a senha</a>
          </div>
            

        </div>
    </div>

  </div>
  