
  
<div class="container">
  
  <div class="row text-center  d-flex justify-content-center " style="margin-top: 5%;">

    <div class ="col-sm-12 col-md-6 col-lg-3 align-self-center">
      <!--<div class="img-logo col-lg-12"></div>-->
      <img src="../../../../assets/img/Splash.png" width="50%" height="50%" />
     
      <div id="campos">

        <h1 class="h4 mb-3 font-weight-normal"> Meu Pedido Service</h1>
        <div class="form-group  d-flex justify-content-center col-lg-12  ">
          <input class="form-control" name="emailControle" #emailControle="ngModel" type="text"
          placeholder="Informe o Email" [(ngModel)]="email" maxlength="60" email required placeholder="Email">
        </div>
        <div class="d-flex align-items-center form-group  col-sm-12 col-lg-12">
          <input name="passwordControl" #passwordControl="ngModel" [(ngModel)]="senha" type="password" class="form-control"  placeholder="Senha">
        </div>



      </div>

      <button style="width: 55%;" class="btn btn-lg btn-success " type="submit" (click)="logar()">Acessar</button>
      
      <div style="margin-top: 1%;">
        <button style="width: 55%;" class="btn btn-link " type="submit" (click)="enviaLink()">Esqueci a senha</button>
      </div>
      <div class="alert alert-dismissible alert-danger" *ngIf="mensagem && !emailEnviado">
        {{mensagem}}
      </div>

    </div>
  </div>

</div>